<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div th:replace="~{layout::dausp}"></div>
<body>
<!--<p>-->
<!--    <a th:href="@{/delete}">-->
<!--        Thông Tin Sản Phẩm XOÁ-->
<!--    </a>-->
<!--</p>-->
</p>
<div id="form">
    <form action="#" th:action="@{/view}" th:object="${sanPhams}" method="get" novalidate="novalidate">
        <fieldset>
            <legend>Sản Phẩm</legend>

            <div>
                <label> id sp</label>
                <input type="text" th:field="*{id}" readonly/>
                <br><br>
                <label>Tên Sản Phẩm</label>
                <input type="text" th:field="*{tenSanPham}" readonly>
                <br><br>
                <label>Mô Tả</label>
                <input type="text" th:field="*{moTa}" readonly>
                <br><br>
                <label>Nơi Sản Xuất</label>
                <input type="text" th:field="*{noiSanXuat}" readonly>
                <br><br>
                <label>Hạn Sử Dụng</label>
                <input type="text" th:field="*{hanSuDung}" readonly>
            </div>
<!--            <input type="submit" value="xóa">-->
        </fieldset>


    </form>
</div>
<footer th:replace="layout::cuoisp">
</footer>
</body>
</html>